@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg {
  z-index: 1;
  border-radius: 50%;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: rgb(56, 16, 16);
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 1px solid gray;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  border: 1px solid gray;
  background-color: rgb(241, 202, 23);
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBg,
.sliderPrice {
  background-color: rgb(35, 194, 194);
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rgb(35, 149, 194);
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: rgb(194, 138, 35);
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: rgb(77, 35, 194);
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(35, 51, 194);
}

.container {
  max-width: 144rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.products {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.product {
  background: #f9f8fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  width: 100%;
}

.product-content {
  padding: 1rem 2rem;
}

.product .product-title {
  font-size: 2rem;
}

.product-description {
  text-align: justify;
}

.product-title,
.product-price-container,
.product-description,
.product-category {
  padding: 0.5rem 0;
}

.product-price-container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  background: rgb(69, 12, 8);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  border-radius: 1rem;
}

.add-to-cart ion-icon {
  font-size: 3rem;
}

#myInput {
  width: 20%;
  margin-left: 40%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-self: center;
}
